<!DOCTYPE HTML>
<html lang="en">

<head>
  {{> components/documentHead }}

  {{!-- JSON-LD --}}
  <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "SoftwareApplication",
            "name": "{{meta.appName}}",
            "url": "{{rootUrl}}",
            "about": "{{meta.description}}",
            "description": "{{meta.description}}",
            "image": "{{images.favicon.x192}}",
            "applicationCategory": "Application",
            "operatingSystem": "Android Lollipop, iOS, Chrome, Firefox, Opera, Internet Explorer, Edge",
            "softwareVersion": "{{version}}",
            "version": "{{version}}",
            "author": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "creator": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "offers": {
                "@type": "offer",
                "price": "0",
                "priceCurrency": "USD",
                "name": "{{meta.appName}}",
                "url": "{{rootUrl}}",
                "image": "{{images.favicon.x192}}",
                "description": "{{meta.description}}",
                "itemOffered": {
                    "@type": "service",
                    "name": "{{meta.appName}}",
                    "brand": {
                        "@type": "brand",
                        "name": "{{meta.appName}}",
                        "url": "{{rootUrl}}",
                        "logo": "{{images.favicon.x192}}",
                        "image": "{{images.favicon.x192}}",
                        "description": "{{meta.description}}"
                    },
                    "url": "{{rootUrl}}",
                    "logo": "{{images.favicon.x192}}",
                    "image": "{{images.favicon.x192}}",
                    "description": "{{meta.description}}",
                    "offers": [
                        {{#each assistantApps as |app index|}}
                            {{#if @index}},{{/if}}
                            {
                                "@type": "offer",
                                "price": "0",
                                "priceCurrency": "USD",
                                "name": "{{app.title}}",
                                "url": "{{app.link}}",
                                "image": "{{app.image}}",
                                "description": "{{app.description}}"
                            }
                        {{/each}}
                    ]
                }
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "bestRating": "5",
                "ratingCount": "1",
                "reviewCount": "5",
                "ratingValue": "5"
            },
            "inLanguage": "en",
            "dateCreated": "{{date}}",
            "dateModified": "{{date}}",
            "datePublished": "{{date}}"
        }
    </script>
</head>

<body>
  <div id="page-wrapper" style="padding-top: 5em;">
    <section id="banner" style="min-height: calc(80vh - 8em);">
      <div class="inner" style="text-align: center;">
        <h2 class="font-weight-light">{{loginTitle}}</h2>
        <p>{{{loginMessage}}}</p>
        {{#if showSupport}}
        <p>Please try again or reach out to us via:</p>
        <p style="font-size: 1.5rem;">
          <a href="https://assistantapps.com/discord" title="Discord">🔗 Discord 🔗</a>
          <br />
          <a href="mailto:support@assistantapps.com" title="Email">🔗 Email 🔗</a>
        </p>
        {{/if}}
      </div>
    </section>

    {{> components/footer }}
  </div>
</body>

</html>