<section id="{{shortCode}}" class="wrapper spotlight mb-1">
    <a href="{{urlref link}}" title="{{title}}" target="_blank" rel="noopener noreferrer" class="noselect">
        <div class="inner">
            <div class="image">
                <img src="{{icon}}" alt="{{title}}" />
            </div>
            <div class="content">
                <h2 class="font-weight-light inline">{{title}} - </h2>
                <i>{{description}}</i>
            </div>
        </div>
    </a>
</section>